.button{
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 18%;
    left: 40%;
    
}

.button button{
    margin: 0px 5px ;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    color: white;

}

.img{
    position: absolute;
    bottom: 8%;
    left: 45%;
    /* text-align: center; */
    
}

.img input{
    font-size: 20px;
    margin-top: 5px;
}
.img label{
    font-size: 25px;

}
.background{
position: relative;
height: 97vh;
max-width:100vw;
background-color:#2193b0;
border: 5px black solid;
}

@media (max-width: 1200px) and (min-width :900px) {
    .button {
        left: 27%;
        /* flex-direction: column; */
    }

    .img {
        font-size: 16;
        bottom: 10px;
        left: 30%; 
    }
    
}
@media (max-width: 899px) and (min-width :750px) {
    .button {
        left: 20%;
        
    }

    .img {
        font-size: 16;
        margin-top: 20px;
        bottom: 10px;
        left: 30%; 
    }
}


@media (max-width: 768px) {
    .button {
        left: 10%;
        flex-wrap: wrap;
    }

    .img {
        left: 10%; 
    }

    .img label{
        font-size: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
    }
}